<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Editing Breed</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= form_for :breed, url: breed_path(@breed), method: :patch do |f| %>
        <% if @breed.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@breed.errors.count, "error") %> prohibited this breed from being saved:
          </h2>
          <ul>
            <% @breed.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
        
        <p>
          <%= f.label 'Select Animal' %><br>
          <%= f.select :animal_id, options_for_select(@animals.collect {|p| [ p.name, p.id ] }, @breed.animal_id) %>
        </p>
        
        <p>
          <%= f.submit %>
        </p>
        <% end %>
        <%= link_to 'Back', breeds_path %>
      </div>
    </div>
  </div>
</div>