<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>All Breeds</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= link_to 'New Breed', new_breed_path %>
        <table class="table">
          <thead>
            <tr>
              <th>Animal</th>
              <th>Breed</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          
          <% @breeds.each do |breed| %>
          <tr>
            <td><%= breed.animal.name%></td>
            <td><%= breed.name %></td>
            <td><%= link_to 'Show', breed_path(breed) %></td>
            <td><%= link_to 'Edit', edit_breed_path(breed) %></td>
            <td><%= link_to 'Destroy', breed_path(breed),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>