<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>New Breed</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<%= form_for :breed, url: breeds_path do |f| %>
				<p>
					<%= f.label :name %><br>
					<%= f.text_field :name %>
				</p>

				<p>
					<%= f.label 'Animal' %><br>
					<% options = options_from_collection_for_select(@animals, 'id', 'name') %>
					<%= f.select :animal_id,  options %>
				</p>

				<p>
					<%= f.submit %>
				</p>
				<% end %>
				<%= link_to 'Back', breeds_path %>
			</div>
		</div>
	</div>
</div>