<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Breed</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<p>
					<strong>Name:</strong>
					<%= @breed.name %>
				</p>

				<p>
					<strong>Animal:</strong>
					<%= @breed.animal.name %>
				</p>
				<%= link_to 'Back', breeds_path %> | <%= link_to 'Edit', edit_breed_path(@breed) %>
			</div>
		</div>
	</div>
</div>