<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Editing Incident</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= form_for :incident, url: incident_path(@incident), method: :patch do |f| %>
        <% if @incident.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:
          </h2>
          <ul>
            <% @incident.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
        
        <p>
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </p>

        <p>
          <%= f.label "Is Addition" %><br>
          <%= f.check_box :is_addition %>
        </p>
        
        <p>
          <%= f.submit %>
        </p>
        <% end %>
        <%= link_to 'Back', incidents_path %>
      </div>
    </div>
  </div>
</div>