<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h1>Listing Incidents</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= link_to 'New incident', new_incident_path %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <% @incidents.each do |incident| %>
          <tr>
            <td><%= incident.name %></td>
            <td><%= incident.description %></td>
            <td><%= link_to 'Show', incident_path(incident) %></td>
            <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
            <td><%= link_to 'Destroy', incident_path(incident),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>