<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>New Incident</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<%= form_for :incident, url: incidents_path do |f| %>
				<p>
					<%= f.label :name %><br>
					<%= f.text_field :name %>
				</p>

				<p>
					<%= f.label :description %><br>
					<%= f.text_area :description %>
				</p>

				<p>
					<%= f.label "Is Addition" %><br>
					<%= f.check_box :is_addition %>
				</p>

				<p>
					<%= f.submit %>
				</p>
				<% end %>
				<%= link_to 'Back', incidents_path %>
			</div>
		</div>
	</div>
</div>