<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Incident</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<p>
					<strong>Name:</strong>
					<%= @incident.name %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= @incident.description %>
				</p>

				<p>
					<strong>Is Addition:</strong>
					<%= @incident.is_addition %>
				</p>
				<%= link_to 'Back', incidents_path %> | <%= link_to 'Edit', edit_incident_path(@incident) %>
			</div>
		</div>
	</div>
</div>