<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Listing Stocks</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>Breed</th>
              <th>Animals</th>
              <th>Count</th>
              <th></th>
            </tr>
          </thead>
          
          <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.breed.name %></td>
            <td><%= stock.breed.animal.name %></td>
            <td><%= stock.count %></td>
            <td><%= link_to 'Show', stock_path(stock) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>