<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Stock</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<p>
					<strong>Breed:</strong>
					<%= @stock.breed.name %>
				</p>

				<p>
					<strong>Animal:</strong>
					<%= @stock.breed.animal.name %>
				</p>

				<p>
					<strong>Count:</strong>
					<%= @stock.count %>
				</p>
				<%= link_to 'Back', stocks_path %>
			</div>
		</div>
	</div>
</div>