<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Display Some Work on the Home Page Portfolio</h2>
                <hr>
            </div>
            <div class="col-lg-12">
                home page things here
            </div>
        </div>
    </div>
</div>