<% if @animal.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:
  </h2>
  <ul>
    <% @animal.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>