<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Listing Animals</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= link_to 'New animal', new_animal_path %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          
          <% @animals.each do |animal| %>
          <tr>
            <td><%= animal.name %></td>
            <td><%= animal.description %></td>
            <td><%= link_to 'Show', animal_path(animal) %></td>
            <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
            <td><%= link_to 'Destroy', animal_path(animal),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>