<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>New Animal</h1>
        <hr>
      </div>
      <div class="col-lg-12">
        <%= form_for @animal do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <p>
          <%= f.submit %>
        </p>
        <% end %>
        <%= link_to 'Back', animals_path %>
      </div>
    </div>
  </div>
</div>