<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Animal</h1>
				<hr>
			</div>
			<div class="col-lg-12">
				<p>
					<strong>Name:</strong>
					<%= @animal.name %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= @animal.description %>
				</p>
				<%= link_to 'Back', animals_path %> | <%= link_to 'Edit', edit_animal_path(@animal) %>
			</div>
		</div>
	</div>
</div>