<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Listing Activities</h1>
        <hr>
      </div>
      <div class="col-lg-12">
      <%= link_to 'New Activity', new_activity_path %>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Incident</th>
              <th>Breed</th>
              <th>Count</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.date%></td>
            <td><%= activity.incident.name %></td>
            <td><%= activity.breed.name %></td>
            <td><%= activity.count %></td>
            <td><%= link_to 'Show', activity_path(activity) %></td>
            <td><%= link_to 'Destroy', activity_path(activity),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>