



<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<h2>Add Activity</h2>
				<hr>
			</div>
			<div class="col-lg-12">
				<%= link_to 'Back', activities_path %>
				<%= form_for :activity, url: activities_path do |f| %>
				<p>
					<%= f.label 'Incident' %><br>
					<% options = options_from_collection_for_select(@incidents, 'id', 'name') %>
					<%= f.select :incident_id,  options %>
				</p>

				<p>
					<%= f.label 'Breed' %><br>
					<% options_ = options_from_collection_for_select(@breeds, 'id', 'name') %>
					<% options = option_groups_from_collection_for_select(@animals, :breeds,'name', 'id', 'name') %>
					<%= f.select :breed_id,  options %>
				</p>

				<p>
					<%= f.label 'Date' %><br>
					<%= f.date_select(:date, :order => [:day, :month, :year]) %>
				</p>

				<p>
					<%= f.label 'Count' %><br>
					<%= f.number_field :count %>
				</p>

				<p>
					<%= f.submit %>
				</p>
				<% end %>
			</div>
		</div>
	</div>
</div>