<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Listing Activities</h2>
				<hr>
			</div>
			<div class="col-lg-12">
				<%= link_to 'Back', activities_path %>
				<p>
					<strong>Date:</strong>
					<%= @activity.date %>
				</p>

				<p>
					<strong>Incident:</strong>
					<%= @activity.incident.name %>
				</p>

				<p>
					<strong>Breed:</strong>
					<%= @activity.breed.name %>
				</p>
				
				<p>
					<strong>Count:</strong>
					<%= @activity.count %>
				</p>
			</div>
		</div>
	</div>
</div>