<!DOCTYPE html>
<html>
<head>
  <title>Farm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Animal Farmer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Stocks', controller: 'stocks' %></li>
                    <li><%= link_to 'Activities', controller: 'activities' %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Animal Breeds', controller: 'breeds' %></li>
                            <li><%= link_to 'Animals', controller: 'animals' %></li>
                            <li><%= link_to 'Incidents', controller: 'incidents' %></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<%= yield %>
	<div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Axon Dev.</p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
